:root {
    /* Cores padrão */
    --pink: #b9113f; 
    --rose: #a8636e; 
    --azul-claro: #1d7c5d; 
    --beje: #cfcca8; 
    --rosa-claro: #f7d5eb;
    --cinza-escuro: #242424; 
    --preto: #000000;
    --white: #ffffff;
}
